# =============================================================================
# URTC-UPDATER - Environment variable template
# Copyright (C) 2026 JuanenRac (Electro Hobby 3D) <electrohobby3d@gmail.com>
# GPL-3.0 - see LICENSE
# This Python client does not auto-load .env: export the token through systemd,
# Docker or the invoking shell. Leave it unset for public-repository reads;
# set a fine-grained, read-only token only if API rate limits require it.
# Never put a real token in this example or commit a local .env file.

GITHUB_TOKEN=
